
 
<!--Body-->
<div id="Body" style="display: flex; padding: 60px 70px;">
  <div class="intro-img-left">
    <img src="assets/Images/1_GioiThieu.jpg" alt="" class="intro-img" style="width: 100%;">
  </div>
  <div class="about" style="padding-left: 35px;">
    <div class="about-text" style="margin-top: 63px;">
      <h1 style="font-size: 40px;">Giới thiệu về Watch Mona</h1>
      <p style="text-align: justify;font-size: 17px;margin-top: 25px;">“Cùng với sự phát triển không ngừng của thời trang thế giới, 
          rất nhiều thương hiệu cho ra đời những mẫu đồng hồ nam chính hãng đa dạng về phong cách, 
          kiểu dáng, màu sắc, kích cỡ… Một chiếc đồng hồ nam cao cấp chính hãng khắc họa một giá
            trị đích thực khi nói đến phụ kiện xa xỉ dành cho phái mạnh. Hiện nay,
            đồng hồ là phụ kiện thời trang thiết yếu đối với những người đàn ông hiện đại ngày nay. 
            Trên cổ tay của những người đàn ông thành đạt luôn dành vị trí 
            cho một chiếc đồng hồ nam cao cấp.”</p>
    </div>
  </div>
</div>
<div class="brand" style="display: flex; padding: 30px 70px;">
    <div class="brand_new" style="margin-right: 24px;">
      <div class="brand_new_item" style="display: flex; margin-bottom: 20px;" >
        <i class="fa-solid fa-clock" style="display: block; font-size: 40px; position: relative; top: 5px;" ></i>
          <div class="brand_new_text" style="text-align: justify; margin-left: 26px;">
            <h2 style="font-size: 20px;">Hàng chính hãng</h2>
            <p>Hiện nay, đồng hồ là phụ kiện thời trang thiết yếu đối
                với những người đàn ông hiện đại ngày nay</p>
          </div>
      </div>
      <div class="brand_new_item" style="display: flex; ">
        <i class="fa-solid fa-clock-rotate-left" style="display: block; font-size: 40px; position: relative; top: 5px;"></i>
          <div class="brand_new_text" style="text-align: justify; margin-left: 26px;">
            <h2 style="font-size: 20px;">Đổi trả trong vòng 7 ngày</h2>
            <p>Hiện nay, đồng hồ là phụ kiện thời trang thiết yếu
                đối với những người đàn ông hiện đại ngày nay</p>
          </div>
      </div>
    </div>
    <div class="brand_new" style="margin-right: 24px;">
      <div class="brand_new_item" style="display: flex; margin-bottom: 20px;">
        <i class="fa-solid fa-star-of-david" style="display: block; font-size: 40px; position: relative; top: 5px;"></i>
          <div class="brand_new_text" style="text-align: justify; margin-left: 26px;">
            <h2 style="font-size: 20px;">Sản phẩm mới 100%</h2>
            <p>Hiện nay, đồng hồ là phụ kiện thời trang thiết 
              yếu đối với những người đàn ông hiện đại ngày nay</p>
          </div>
      </div>
      <div class="brand_new_item" style="display: flex; ">
        <i class="fa-solid fa-truck" style="display: block; font-size: 40px; position: relative; top: 5px;"></i>
          <div class="brand_new_text" style="text-align: justify; margin-left: 26px;">
            <h2 style="font-size: 20px;">Miễn phí giao hàng</h2>
            <p>Hiện nay, đồng hồ là phụ kiện thời trang thiết yếu
                đối với những người đàn ông hiện đại ngày nay</p>
          </div>
      </div>
    </div>
    <div class="brand_new">
      <div class="brand_new_item" style="display: flex; margin-bottom: 20px;">
        <i class="fa-solid fa-screwdriver-wrench" style="display: block; font-size: 40px; position: relative; top: 5px;"></i>
          <div class="brand_new_text" style="text-align: justify; margin-left: 26px;">
            <h2 style="font-size: 20px;">Bảo hành 12 tháng</h2>
            <p>Hiện nay, đồng hồ là phụ kiện thời trang thiết yếu
                đối với những người đàn ông hiện đại ngày nay</p>
          </div>
      </div>
      <div class="brand_new_item" style="display: flex; ">
        <i class="fa-solid fa-hand-holding-dollar" style="display: block; font-size: 40px;"></i>
          <div class="brand_new_text" style="text-align: justify; margin-left: 26px; position: relative; top: 5px;">
            <h2 style="font-size: 20px;">Giá cả hợp lý</h2>
            <p>Hiện nay, đồng hồ là phụ kiện thời trang thiết 
              yếu đối với những người đàn ông hiện đại ngày nay</p>
          </div>
      </div>
    </div>
</div>
<div class="member-team" style="display: flex; padding: 60px 30px; border-top: 1px solid #ccc;">
  <div class="member-item" style="text-align:center; margin-right: 20px;">
    <div class="img-item">
      <img style="width: 160px; height: 150px; margin-bottom: 25px; border-radius: 50%;" src="assets/Images/4.jpg" alt="">
    </div>
    <p style="font-style: italic; font-size: 16px;">Hiện nay, đồng hồ là phụ kiện thời trang thiết yếu đối với những người đàn ông hiện đại ngày nay</p>
    <h2>Kim Thành</h2>
  </div>
  <div class="member-item" style="text-align:center; margin-right: 20px;">
    <img style="width: 160px; height: 150px; margin-bottom: 25px; border-radius: 60%;" src="assets/Images/4.jpg" alt="">
    <p style="font-style: italic; font-size: 16px;">Hiện nay, đồng hồ là phụ kiện thời trang thiết yếu đối với những người đàn ông hiện đại ngày nay</p>
    <h2>Vương Kim Thành</h2>
  </div>
  <div class="member-item" style="text-align:center;">
    <img style="width: 160px; height: 150px; margin-bottom: 25px; border-radius: 60%;" src="assets/Images/4.jpg" alt="">
    <p style="font-style:italic; font-size: 16px;">Hiện nay, đồng hồ là phụ kiện thời trang thiết yếu đối với những người đàn ông hiện đại ngày nay</p>
    <h2>Kim Thành</h2>
  </div>
</div>



